<!doctype html>
<html lang="en">

<head>
    <title>Resultado de la Consulta</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style>
      body {
        background-image: url('https://www.infobae.com/new-resizer/x_eJjdt4r-8hfKf68aRXzXDZlN8=/992x558/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/MCSYRT2P7BCKDI3LOGL7KNJCQM');
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
      }
    </style>

</head>

<body>

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Inicio </a>
        <a class="nav-item nav-link" href="#">Resultado</a>
    </div>
</nav>
<div class="container">